#map { 
  height: 80%;
}

#rotas { 
  max-height: 20%;
  overflow-y: auto;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
  

body {
   margin: 0;
}


img.huechangeA {
  filter: hue-rotate(250deg);
}

img.huechangeB {
  filter: hue-rotate(150deg);
}