#map { 
  height: 100%;
  width: 75%;
  margin-left:25%;
}

#rotas { 
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 20px;
  padding-left: 2%;
  padding-right: 2%;
  position: absolute;
  width: 22%;
  top: 0;
  left: 0;
  /* max-height: 20%;
  overflow-y: auto; 
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;*/
}

  

body {
   margin: 0;
    background-color: #ffbad3;
    color: #2057b5;
    font-family: "Source Code Pro","Courier New","Lucida Sans Typewriter",monospace;
}

::selection {
    background-color: #2057b5 !important;
    color: #ffbad3 !important;
}

img.huechangeA {
  filter: hue-rotate(-0.25turn);
    width: 50px;
}

img.huechangeB {
  filter: hue-rotate(100deg);
}

.col-logo {
    float: left;
    width: 20%;
    margin-top:4%;
}

.col-logo img{
    width:80%;
}

.col-title {
    float: left;
    width: 70%;
    padding-left:2%;
}

a, a:visited, a:hover, a:active {
  color: #2057b5;
    text-decoration: none;
}

.btn { 
    text-align: center;
    background-color:#2057b5;
    color: white;
    border:0px;
    cursor: pointer;
    font-family: "Source Code Pro","Courier New","Lucida Sans Typewriter",monospace;
    text-transform: uppercase;
    padding:10px;
    margin-left:20%;
}

.btn:hover{
    background-color:#f17ea3;
}

hr{
    border:none;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 50%;    
}

.collapsible{
    cursor: pointer;
}
.content {
  display: none;
  overflow: hidden;
}

.leaflet-left {
    display: none;
}